## System Files
.DS_Store
.envrc

## Artifacts
services/bastion-host/packer/Ubuntu1804-CIS

## Config files
configuration/bucket-data/configuration/config/settings.yaml

## IDE files
.idea/*
*.iml

## Terraform cache
.terraform/