[Unit]
Description=Node Exporter
Wants=network-online.target
After=network-online.target

[Service]
User=ec2-user
ExecStart=/opt/prometheus/node_exporter/node_exporter

[Install]
WantedBy=default.target